.aboutus-container{
    .content-left-group{
        table>thead>tr>th,table>tbody>tr>td{
            font-family: 'PSLKandaProBold';text-align: center;
            &.talign-left{text-align: left}
        }
        form{
            padding: 20px;
            .form-control{
                font-family: 'PSLKandaProBold';
                font-size: 1.1em;
                color: #868686;
                .btn{
                    padding:6px;
                }
            }
        }
        .nav.nav-tabs{
            margin-top:0;
        }
        .nav-pills>li>a{
            font-family: 'PSLKandaProBold';
            background-color: transparent;
            color: #868686;
        }
        .nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus{
            background-color: transparent;
            color: #c42b32;
        }
        .group-box > div > div{
            border: none;
        }
        .group-box p
        {
            padding:2px 0;
        }
        p.remark{
            color:#868686;
            a{color: #c52b33;}
        }
    }
}