.activity-container {
    .bg-868686 {
        margin-left: -10px;
        margin-right: -10px;
        margin-bottom: 10px;
        background-color: #868686;
        color: #fff;
        float: left;
        &.bg-c42b32 {
            background: #c42b32;
        }
        .pull-left {
            margin-right: 15px;
        }
        .content {
            padding: 15px;
            h3 {} sub {
                font-size: 0.8em;
            }
            p {
                margin-top: 15px;
            }
        }
    }
    .group-box.red-box>div>div {
        border: 3px solid #c42b32;
    }
    .group-content {
        &.gallery-content {
            .row>div {
                padding: 7px;
            }
        }
        a {
            color: #000;
            text-decoration: none;
        }
    }
    .caption-main {
        background-color: #fff;
        padding: 15px;
        margin-top: 15px;
        position: relative;
        margin-bottom: 15px;
        h2 {
            margin: 0;
        }
        a {
            color: #000;
            text-decoration: none;
        }
    }
    .row {
        margin-bottom: 15px;
    }
}