div.cover-content{
    background-image: url(../images/cover/bg.jpg);
    background-position: bottom center;
    background-repeat: repeat-x;
    a.cover{
        display: block;
        margin-top:30px;
    }
    a.enter-site{
        display: block;
        margin:20px 0 30px;
    }
}
footer.cover-footer{
    .copyright{
        font-size: 0.75em;
    }
}