div.education-container{
    .content-left-group{
        table>thead>tr>th{font-family: 'PSLKandaProBold';}
        table>thead>tr>th,table>tbody>tr>td{text-align: center;}
        table>tbody>tr>td{font-size: 0.9em;}
        form{
            padding: 20px;
            .form-control{
                font-family: 'PSLKandaProBold';
                font-size: 1.1em;
                color: #868686;
            }
        }
        .nav.nav-tabs{margin-top: 0;}
        .media.bg-fd{
            background-color: #fdfcfc;
        }
        .review-big-group{
            .detail{
                position: absolute;
                bottom: 0;
                width: auto;
                background-color: #fff;
                h2{margin-top: 0;}
                p{color: #868686;}
            }
        }
    }
    .content-right-group{
        &.relative{
            position: relative;
        }
        .btn-popup{
            position: absolute;
            top:0;
        }
        .btn{
            font-size: 1em;
            font-weight: bold;
        }
    }
}