nav.desktop{
    font-size:20px;
    ul{
        li{
            display: inline-block;
            padding:10px 22px;
            a{
                color:#868686;
                font-family:'PSLKandaProBold';
                &.active,&:hover{
                    color:#c52b33;
                    text-decoration:none;
                }
                .glyphicon{
                    padding:0;
                    font-size:7px;
                    top:0;
                }
            }
        }
    }
    @media (min-width: 768px) and (max-width: 991px) {
        ul{
            li{
                padding:10px 15px;
                a{
                    &.active,&:hover{
                    }
                    .glyphicon{
                    }
                }
            }
        }
    }
    @media (max-width: 767px){

    }
}
.navbar-default{
    margin-bottom: 0;
    background: none;
    border: none;
    .navbar-nav{
        margin-top:0;
    }
    .navbar-toggle{
        margin:8px 0;
    }
    .logo-mobile{
        height: 34px;
    }
}
.navbar-default .navbar-toggle,.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
    background-color:#c42b32;
    .icon-bar{
        background-color: #fff;
    }
}
.navbar-default .navbar-nav>li{
    border-bottom: 1px solid #e4e4e4;
}
.navbar-default .navbar-nav>li>a{
    font-size:20px;
    font-weight: bold;
    &.icon{
        float: left;
        display: block;
        padding: 0;
        margin:5px 0 0 5px; 
    }
}
.navbar-default .navbar-nav .open .dropdown-menu>li>a{
    font-size:18px;
    font-weight: bold;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus{
    background: none;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus{
    background: none;
}
.navbar-brand{
    height: auto;
    padding: 8px 0;
}
.navbar-default{
    .panel-search{
        vertical-align:middle;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        border:1px solid #ddd;
        margin:5px;
        .txt-search{
            background: none;
            border:none;
            width: calc(100% - 40px);
            height: 24px;
            vertical-align: top;
            margin: 3px;
        }
        .btn-submit{
            margin:3px;
            background-color: transparent;
            background-image: url('../images/btn-search.png');
            width: 23px;
            height: 24px;
            border:none;
        }
    }
    .panel-lang{
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        border:1px solid #ddd;
        font-size: 0.6em;
        padding: 3px;
        margin:5px;
        display: block;
        float: left;
        span{
            float:left;
            a{
                color:#a8a8a8;
                font-weight: bold;
                &.active{
                    color: #c42b32;
                }
            }
        }
    }
}
