.h2 {
    color: #c73940;
    font-family: 'PSLKandaProBold';
}
h2 {
    &.content-header {
        color: #000;
    }
}
.group-title {
    margin-bottom: 10px;
    padding: 5px 0px;
    vertical-align: middle;
    .group-item-list {
        margin-bottom: 10px;
    }
}
.group-item-list {
    margin-bottom: 10px;
    .date{
    color: #c73940;
    }
}
.search-header {
    margin-bottom: 10px;
    vertical-align: middle;
    padding: 5px 10px;
    color: #c73940;
    font-size: 28px;
    font-family: 'PSLKandaProBold';
    img {
        vertical-align: middle;
    }
}
.breadcrumb {
    color: #c2c2c2;
    background-color: transparent;
}
.product-detail-content-group {
    border-bottom: 1px solid #e7e7e7;
    padding-bottom: 10px;
    &.no-border {
        border: none;
    }
    p {
        color: #666;
    }
}
.btn-search {
    background: #c42b32;
    border: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #fff;
    font-family: 'PSLKandaProBold';
    font-size: 1.2em;
    height: auto;
    padding: 3px;
}
.product-group-row {
    padding-bottom: 15px;
    margin-bottom: 20px;
    border-bottom: 1px solid #e4e4e4;
}
.content-left-group {
    .product-slide {
        background-color: #dbdbdb;
    }
    .group-box {
        border-bottom: 1px solid #e4e4e4;
        padding-bottom: 15px;
        margin-bottom: 15px;
        .tag-new-product {
            position: absolute;
            top: 0;
            left: 6px;
        }
    }
    .group-box>div {
        padding: 0 5px;
        margin-bottom: 10px;
    }
    .group-box>div>div {
        border: 1px solid #eeeeee;
        padding: 2px;
        position: relative;
        &.group-title {
            border: none;
        }
        &>div {
            padding: 10px;
            span.date {
                color: #a4a4a4;
                font-size: 0.75em;
            }
        }
    }
    .view-all {
        border: 1px solid #eeeeee;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        margin: 10px -10px;
        padding: 6px;
        a {
            color: #868686;
            font-weight: bold;
        }
    }
    .pager {
        
        li {
            a {
                font-size: 0.9em;
                padding: 0 5px;
                color: #666666;
                border: none;
                &.active, &:hover {
                    background-color: #c52b35;
                    color: #fff;
                }
            }
        }
    }
    .thumb {
        padding: 6px;
        .icon-zoom {
            position: absolute;
            left: 6px;
            top: 6px;
        }
    }
    .border-1 {
        border: 1px solid #e8e8e8;
    }
    a.back {
        color: #c42b32;
        font-weight: bold;
        float: right;
    }
}
.content-right-group {
    input, select {
        font-size: 20px;
        font-family: 'PSLKandaProBold';
        color: #868686;
    }
    .list-with-icon {
        li {
            border-bottom: 1px solid #e4e4e4;
            padding: 15px;
            a {
                font-size: 28px;
                vertical-align: top;
                line-height: 32px;
                font-family: 'PSLKandaProBold';
                color: #868686;
                img {
                    padding-left: 20px;
                    padding-right: 15px;
                }
            }
        }
    }
}