div.service-container{
    p{
        a.readmore{
            color: #c32b32;
        }
    }
    .content-left{
        .content-left-group{
            margin-bottom:20px;
            .service-group-list{
                margin-bottom: 10px;
                .media{
                    sub{font-size: 0.75em;}
                    .pull-left{width:30%}
                    .content{
                        padding: 15px;
                    }
                }
            }
            .download-list{
                .download-list-title{
                    padding-left: 30px;
                    font-family:'PSLKandaProBold';
                    font-size:20px;
                }
            }
            form{
                padding-top: 20px;
                padding-bottom: 20px;
                div.row{
                    >div{
                        padding-left: 5px;
                        padding-right: 5px;
                        margin-bottom: 5px;
                    }
                }
                .group-title{
                    background-color: #fff;
                    padding: 10px;
                }
                label{
                    text-align:left;
                    font-weight:bold;
                    color:#868686;
                    &.right{
                        text-align: right;
                    }
                }
                sub{
                    font-size: 0.75em;
                    color:#868686;
                }
            }
            .border-right{
                border-right: 1px solid #e4e4e4;
            }
            .border-bottom{
                padding-bottom: 20px;
                margin-bottom: 10px;
                border-bottom: 1px solid #e4e4e4;
                &.h4-c-c42b32{
                    border-bottom: 4px solid #c42b32;
                    padding-bottom: 40px;
                    margin-bottom: 30px;
                }
            }
            .nav-tabs{
                >li{
                    >a{
                        font-weight: bold;
                        color: #868686;
                        padding: 2px 10px;
                        border-radius: 0;
                    }
                    &.active{
                        >a{
                            color: #c42b32;
                        }
                    }
                }
            }
            .tab-content.tab-content{
                border: none;
                padding: 15px;
            }
            .pager{margin:0;}
            .nav-tabs{margin-top:0;}
            .service-list{
                border:1px solid #dddddd;
                li{
                    padding: 10px;
                    p{
                        font-size: 0.85em;
                    }
                }
                .search-box{
                    .btn-find{
                        float: right;
                        margin-top:-29px;
                        margin-right: 5px;
                    }
                }
            }
            .thumbnail{
                padding: 0;
                border: none;
                .caption{
                    padding: 4px;
                    p{
                        font-size: 0.85em;
                        line-height: 1em;
                    }
                }
            }
        }
    }
}
.content-right-group{
    .group-title{
        /*margin-left:20px;*/
    }
    .sub-navigate{
        margin-left:20px;
        li{
            a{
                font-size:22px;
                font-family:'PSLKandaProBold';
                color:#868686;
                text-decoration:none;
                &:hover,&.active{
                    color:#c42b32;
                }
            }
            .child-sub-navigate{
                margin-left:25px;
                li{
                    a{
                        color: #b3b3b3;
                        font-family:'PSLKandaProBold';
                    }
                }
            }
        }
    }
    .right-banner{
        margin-bottom: 15px;
        .caption{
            padding: 10px 20px;
            background-color: #c42b32;
            a{
                color: #fff;
                font-size: 1.2em;
                font-weight: bold;
            }
        }
    }
}