@import "reset";
@import "cover";
@import "nav";
@import "product";
@import "service";
@import "education";
@import "activity";
@import "aboutus";
@import "investor";


@media (min-width: 1200px) {
    .container {
        width: 970px;
    }
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

h2{
    margin-top:15px;
    margin-bottom:5px;
    font-size: 28px;
    color:#c42b32;
    font-family:'PSLKandaProBold';
    &.localnews{
        margin-top: 42px;
    }
}
h3{
    font-size: 20px;
    font-family:'PSLKandaProBold';
}
body{
    font-family:'PSLKandaPro','PSLKandaProBold';
    font-size: 1.2em;
}
b{
    font-family:'PSLKandaProBold';
}
.mb-15{
    margin-bottom: 15px;
}
header{
    border-top:5px solid #c42b32;
    .logo{
        display:block;
        margin-top:20px;
    }
    .top-link{
        li{
            vertical-align: middle;
        }
        .panel-search{
            vertical-align:middle;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            border:1px solid #ddd;
            .txt-search{
                background: none;
                border:none;
                width: 150px;
                height: 24px;
                vertical-align: top;
                margin: 3px;
            }
            .btn-submit{
                margin:3px;
                background-color: transparent;
                background-image: url('../images/btn-search.png');
                width: 23px;
                height: 24px;
                border:none;
            }
        }
        .panel-lang{
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            border:1px solid #ddd;
            font-size: 0.6em;
            padding: 3px;
            span{
                float:left;
                a{
                    color:#a8a8a8;
                    font-weight: bold;
                    &.active{
                        color: #c42b32;
                    }
                }
            }
        }
        ul{
            li{
                display: inline-block;
            }
        }
    }
    @media (min-width: 768px) and (max-width: 991px) {
        .logo{
        }
        .top-link{
            li{
            }
            .panel-search{
                .txt-search{
                    width: 80px;
                }
                .btn-submit{
                }
            }
            .panel-lang{
                span{
                    a{
                        &.active{
                        }
                    }
                }
            }
        }
    }
    @media (max-width: 767px){
        .top-link{
            display:none;
        }
    }
}
div.main-slide{
    .container-fluid{
        padding: 0;
    }
    .bx-wrapper
    {
        margin-bottom: 0;
        .bx-pager{
            padding-top:0;
            bottom: 10px;
            &.bx-default-pager a{
                background: #fff;
                &.active{
                    background-color: #c42b32;
                }
            }
        }
    }
}
div.main-content{
    padding-top: 20px;
    .content{
        .border-bottom{
            border-bottom: 1px solid #e4e4e4;
        }
        .nav-tabs{
            margin-top: 25px;
            h2{
            }
        }
        .tab-content{
            padding: 35px;
            border-bottom: 1px solid #ddd;
            border-left: 1px solid #ddd;
            border-right: 1px solid #ddd;
        }
        .nav-tabs>li>a  h2{
            color:#c2c2c2;
        }
        .nav-tabs>li>a:hover{
            background-color: #fff;
        }
        .nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus{
            h2{
                color:#c42b32;
            }
        }

        .nav-tabs>li{
            >a{
                >h2{
                    margin:0;
                    background-image:url('../images/tab-inactive.png');
                    background-position: center right;
                    background-repeat: no-repeat;
                    padding-right:20px;
                }
            }
        }
        .nav-tabs>li.active{
            >a{
                >h2{
                    background-image:url('../images/tab-active.png');
                }
            }
        }
        .content-left{
            .bx-wrapper .bx-viewport{
                box-shadow:none;
                -webkit-box-shadow:none;
            }
        }
        .content-right{
            .content-right-group{
                margin-bottom: 15px;
                p{
                    padding:0 10px;
                }
                .bx-wrapper .bx-viewport{
                    box-shadow:none;
                    -webkit-box-shadow:none;
                }
            }
            .new-list{
                li{
                    padding-bottom: 10px;
                    border-bottom: 1px solid #ddd;
                    margin-bottom: 10px;
                }
            }
        }
        .social{
            margin:20px 0;
        }
    }


    @media (max-width: 767px){
        padding:0;
        .content{
            .nav-tabs{
                a{
                    padding:10px 5px;
                    h2{
                        margin:0;
                        font-size:18px;
                        padding-right:12px !important;
                    }
                }
            }
        }
        .sitemap{
            padding:20px 0;
            .row{
                margin:0;
                .sitemap-group{
                    padding:10px 25px;
                    border-top:1px solid #e4e4e4;
                    ul{
                        margin:0 15px;
                        li{
                            margin:2px 15px;
                            list-style:initial;
                        }
                    }
                }
            }
        }
    }
}

.sitemap{
    color:#fff;
    padding: 20px;
    background-image: url('../images/bg-footer-2.jpg');
    background-position: center center;
    .row{
        margin:0 30px;
        .sitemap-group{
            b{
                font-size: 20px;
                margin-bottom: 10px;
            }
            ul{
                margin-top: 10px;
                margin-bottom: 20px;
                li{
                    font-size: 18px;
                }
            }
        }
    }

    a{
        color:#fff;
    }
}
footer{
    background-color: #c42b32;
    color:#fff;
    padding:12px 0;
    .row{
        margin:0 30px;
        a{
            color:#fff;
            &:hover{
                color:#fff;
                text-decoration:none;
            }

        }
    }
}
.paging-container{
    border-top:1px solid #e4e4e4;
    text-align:right;
    .pagination{
        margin:0;
        &>li>a, &>li>span{
            border:0px;
            padding:5px;
        }
    }
}

button.submit,a.btn.submit{
    padding: 0;
    font-family:'PSLKandaProBold';
    color:#ffffff;
    font-size:20px;
    background-color: #c52b33;
    &.reset{
        margin-left: 1px !important;
    }
    &:hover,&:focus{
        color:#ffffff;
    }
}

.btn.btn-default{
    color: #868686;font-size: 1.1em;font-family:'PSLKandaProBold';padding: 0px;
}
.c-c42b32{color:#c42b32;}
.bg-c42b32{
    background:#c42b32; color:#fff;
    .h2{color:#fff;padding: 0 20px;}
}
.btl10{
    -webkit-border-top-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    border-top-left-radius: 10px;
}
.btr10{
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topright: 10px;
    border-top-right-radius: 10px;
}
.padding-10{
    padding-bottom: 10px;
}