@font-face {
    font-family: 'PSLKandaProBold';
    src: url('psl154pro.eot');
    src: url('psl154pro.eot') format('embedded-opentype'),
         url('psl154pro.woff') format('woff'),
         url('psl154pro.ttf') format('truetype'),
         url('psl154pro.svg#PSLKandaProBold') format('svg');
}
