/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
/* line 2, ../sass/_reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  /*font-size: 100%;
  font: inherit;*/
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}

/* line 2, ../sass/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 2, ../sass/_reset.scss */
body {
  line-height: 1.42857143;
    font-size:13px;
}

/* line 2, ../sass/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 2, ../sass/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 2, ../sass/_reset.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: none;
}

/* line 2, ../sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 1, ../sass/_cover.scss */
div.cover-content {
  background-image: url(../images/cover/bg.jpg);
  background-position: bottom center;
  background-repeat: repeat-x;
}
/* line 5, ../sass/_cover.scss */
div.cover-content a.cover {
  display: block;
  margin-top: 30px;
}
/* line 9, ../sass/_cover.scss */
div.cover-content a.enter-site {
  display: block;
  margin: 20px 0 30px;
}

/* line 15, ../sass/_cover.scss */
footer.cover-footer .copyright {
  font-size: 0.75em;
}

/* line 1, ../sass/_nav.scss */
nav.desktop {
  font-size: 20px;
}
/* line 4, ../sass/_nav.scss */
nav.desktop ul li {
  display: inline-block;
  padding: 10px 22px;
}
/* line 7, ../sass/_nav.scss */
nav.desktop ul li a {
  color: #868686;
  font-family: 'PSLKandaProBold';
}
/* line 10, ../sass/_nav.scss */
nav.desktop ul li a.active, nav.desktop ul li a:hover {
  color: #c52b33;
  text-decoration: none;
}
/* line 14, ../sass/_nav.scss */
nav.desktop ul li a .glyphicon {
  padding: 0;
  font-size: 7px;
  top: 0;
}
@media (min-width: 768px) and (max-width: 991px) {
  /* line 24, ../sass/_nav.scss */
  nav.desktop ul li {
    padding: 10px 15px;
  }
}

/* line 39, ../sass/_nav.scss */
.navbar-default {
  margin-bottom: 0;
  background: none;
  border: none;
}
/* line 43, ../sass/_nav.scss */
.navbar-default .navbar-nav {
  margin-top: 0;
}
/* line 46, ../sass/_nav.scss */
.navbar-default .navbar-toggle {
  margin: 8px 0;
}
/* line 49, ../sass/_nav.scss */
.navbar-default .logo-mobile {
  height: 34px;
}

/* line 53, ../sass/_nav.scss */
.navbar-default .navbar-toggle, .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #c42b32;
}
/* line 55, ../sass/_nav.scss */
.navbar-default .navbar-toggle .icon-bar, .navbar-default .navbar-toggle:hover .icon-bar, .navbar-default .navbar-toggle:focus .icon-bar {
  background-color: #fff;
}

/* line 59, ../sass/_nav.scss */
.navbar-default .navbar-nav > li {
  border-bottom: 1px solid #e4e4e4;
}

/* line 62, ../sass/_nav.scss */
.navbar-default .navbar-nav > li > a {
  font-size: 20px;
  font-weight: bold;
}
/* line 65, ../sass/_nav.scss */
.navbar-default .navbar-nav > li > a.icon {
  float: left;
  display: block;
  padding: 0;
  margin: 5px 0 0 5px;
}

/* line 72, ../sass/_nav.scss */
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  font-size: 18px;
  font-weight: bold;
}

/* line 76, ../sass/_nav.scss */
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  background: none;
}

/* line 79, ../sass/_nav.scss */
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background: none;
}

/* line 82, ../sass/_nav.scss */
.navbar-brand {
  height: auto;
  padding: 8px 0;
}

/* line 87, ../sass/_nav.scss */
.navbar-default .panel-search {
  vertical-align: middle;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #ddd;
  margin: 5px;
}
/* line 94, ../sass/_nav.scss */
.navbar-default .panel-search .txt-search {
  background: none;
  border: none;
  width: calc(100% - 40px);
  height: 24px;
  vertical-align: top;
  margin: 3px;
}
/* line 102, ../sass/_nav.scss */
.navbar-default .panel-search .btn-submit {
  margin: 3px;
  background-color: transparent;
  background-image: url("../images/btn-search.png");
  width: 23px;
  height: 24px;
  border: none;
}
/* line 111, ../sass/_nav.scss */
.navbar-default .panel-lang {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 0.6em;
  padding: 3px;
  margin: 5px;
  display: block;
  float: left;
}
/* line 121, ../sass/_nav.scss */
.navbar-default .panel-lang span {
  float: left;
}
/* line 123, ../sass/_nav.scss */
.navbar-default .panel-lang span a {
  color: #a8a8a8;
  font-weight: bold;
}
/* line 126, ../sass/_nav.scss */
.navbar-default .panel-lang span a.active {
  color: #c42b32;
}

/* line 1, ../sass/_product.scss */
.h2 {
  color: #c73940;
  font-weight: bold;
  font-family: 'PSLKandaProBold';
    font-size: 2em;
}

/* line 6, ../sass/_product.scss */
h2.content-header {
  color: #000;
}

/* line 10, ../sass/_product.scss */
.group-title {
  margin-bottom: 10px;
  padding: 5px 0px;
  vertical-align: middle;
}
/* line 14, ../sass/_product.scss */
.group-title .group-item-list {
  margin-bottom: 10px;
}

/* line 18, ../sass/_product.scss */
.group-item-list {
  margin-bottom: 10px;
}
/* line 20, ../sass/_product.scss */
.group-item-list .date {
  color: #c73940;
}

/* line 24, ../sass/_product.scss */
.search-header {
  margin-bottom: 10px;
  vertical-align: middle;
    font-weight: bold;
  padding: 5px 10px;
  color: #c73940;
  font-size: 28px;
  font-family: 'PSLKandaProBold';
}
/* line 31, ../sass/_product.scss */
.search-header img {
  vertical-align: middle;
}

/* line 35, ../sass/_product.scss */
.breadcrumb {
  color: #c2c2c2;
  background-color: transparent;
}

/* line 39, ../sass/_product.scss */
.product-detail-content-group {
  border-bottom: 1px solid #e7e7e7;
  padding-bottom: 10px;
}
/* line 42, ../sass/_product.scss */
.product-detail-content-group.no-border {
  border: none;
}
/* line 45, ../sass/_product.scss */
.product-detail-content-group p {
  color: #666;
}

/* line 49, ../sass/_product.scss */
.btn-search {
  background: #c42b32;
  border: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #fff;
  font-size: 1.2em;
  padding: 3px;
}

/* line 61, ../sass/_product.scss */
.product-group-row {
  padding-bottom: 15px;
  margin-bottom: 20px;
  border-bottom: 1px solid #e4e4e4;
}

/* line 67, ../sass/_product.scss */
.content-left-group .product-slide {
  background-color: #dbdbdb;
}
/* line 70, ../sass/_product.scss */
.content-left-group .group-box {
  border-bottom: 1px solid #e4e4e4;
  padding-bottom: 15px;
  margin-bottom: 15px;
}
/* line 74, ../sass/_product.scss */
.content-left-group .group-box .tag-new-product {
  position: absolute;
  top: 0;
  left: 6px;
}
/* line 80, ../sass/_product.scss */
.content-left-group .group-box > div {
  padding: 0 5px;
  margin-bottom: 10px;
}
/* line 84, ../sass/_product.scss */
.content-left-group .group-box > div > div {
  border: 1px solid #eeeeee;
  padding: 2px;
  position: relative;
}
/* line 88, ../sass/_product.scss */
.content-left-group .group-box > div > div.group-title {
  border: none;
}
/* line 91, ../sass/_product.scss */
.content-left-group .group-box > div > div > div {
  padding: 10px;
}
/* line 93, ../sass/_product.scss */
.content-left-group .group-box > div > div > div span.date {
  color: #a4a4a4;
  font-size: 0.75em;
}
/* line 99, ../sass/_product.scss */
.content-left-group .view-all {
  border: 1px solid #eeeeee;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin: 10px -10px;
  padding: 6px;
}
/* line 106, ../sass/_product.scss */
.content-left-group .view-all a {
  color: #868686;
}
/* line 114, ../sass/_product.scss */
.content-left-group .pager li a {
  font-size: 0.9em;
  padding: 0 5px;
  color: #666666;
  border: none;
}
/* line 119, ../sass/_product.scss */
.content-left-group .pager li a.active, .content-left-group .pager li a:hover {
  background-color: #c52b35;
  color: #fff;
}
/* line 126, ../sass/_product.scss */
.content-left-group .thumb {
  padding: 6px;
}
/* line 128, ../sass/_product.scss */
.content-left-group .thumb .icon-zoom {
  position: absolute;
  left: 6px;
  top: 6px;
}
/* line 134, ../sass/_product.scss */
.content-left-group .border-1 {
  border: 1px solid #e8e8e8;
}
/* line 137, ../sass/_product.scss */
.content-left-group a.back {
  color: #c42b32;
  font-weight: bold;
  float: right;
}

/* line 144, ../sass/_product.scss */
.content-right-group input, .content-right-group select {
  color: #868686;
}
/* line 150, ../sass/_product.scss */
.content-right-group .list-with-icon li {
  border-bottom: 1px solid #e4e4e4;
  padding: 15px;
}
/* line 153, ../sass/_product.scss */
.content-right-group .list-with-icon li a {
  font-size: 1.2em;
  vertical-align: top;
  line-height: 32px;
  color: #868686;
}
/* line 159, ../sass/_product.scss */
.content-right-group .list-with-icon li a img {
  padding-left: 20px;
  padding-right: 15px;
}

/* line 3, ../sass/_service.scss */
div.service-container p a.readmore {
  color: #c32b32;
}
/* line 8, ../sass/_service.scss */
div.service-container .content-left .content-left-group {
  margin-bottom: 20px;
}
/* line 10, ../sass/_service.scss */
div.service-container .content-left .content-left-group .service-group-list {
  margin-bottom: 10px;
}
/* line 13, ../sass/_service.scss */
div.service-container .content-left .content-left-group .service-group-list .media sub {
  font-size: 0.75em;
}
/* line 14, ../sass/_service.scss */
div.service-container .content-left .content-left-group .service-group-list .media .pull-left {
  width: 30%;
}
/* line 15, ../sass/_service.scss */
div.service-container .content-left .content-left-group .service-group-list .media .content {
  padding: 15px;
}
/* line 21, ../sass/_service.scss */
div.service-container .content-left .content-left-group .download-list .download-list-title {
  padding-left: 30px;
  font-family: 'PSLKandaProBold';
  font-size: 20px;
}
/* line 27, ../sass/_service.scss */
div.service-container .content-left .content-left-group form {
  padding-top: 20px;
  padding-bottom: 20px;
}
/* line 31, ../sass/_service.scss */
div.service-container .content-left .content-left-group form div.row > div {
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 5px;
}
/* line 37, ../sass/_service.scss */
div.service-container .content-left .content-left-group form .group-title {
  background-color: #fff;
  padding: 10px;
}
/* line 41, ../sass/_service.scss */
div.service-container .content-left .content-left-group form label {
  text-align: left;
  color: #868686;
    font-weight: normal;
}
/* line 45, ../sass/_service.scss */
div.service-container .content-left .content-left-group form label.right {
  text-align: right;
}
/* line 49, ../sass/_service.scss */
div.service-container .content-left .content-left-group form sub {
  font-size: 0.75em;
  color: #868686;
}
/* line 54, ../sass/_service.scss */
div.service-container .content-left .content-left-group .border-right {
  border-right: 1px solid #e4e4e4;
}
/* line 57, ../sass/_service.scss */
div.service-container .content-left .content-left-group .border-bottom {
  padding-bottom: 20px;
  margin-bottom: 10px;
  border-bottom: 1px solid #e4e4e4;
}
/* line 61, ../sass/_service.scss */
div.service-container .content-left .content-left-group .border-bottom.h4-c-c42b32 {
  border-bottom: 4px solid #c42b32;
  padding-bottom: 40px;
  margin-bottom: 30px;
}
/* line 69, ../sass/_service.scss */
div.service-container .content-left .content-left-group .nav-tabs > li > a {
  font-weight: bold;
  color: #868686;
  padding: 2px 10px;
  border-radius: 0;
}
/* line 76, ../sass/_service.scss */
div.service-container .content-left .content-left-group .nav-tabs > li.active > a {
  color: #c42b32;
}
/* line 82, ../sass/_service.scss */
div.service-container .content-left .content-left-group .tab-content.tab-content {
  border: none;
  padding: 15px;
}
/* line 86, ../sass/_service.scss */
div.service-container .content-left .content-left-group .pager {
  margin: 0;
}
/* line 87, ../sass/_service.scss */
div.service-container .content-left .content-left-group .nav-tabs {
  margin-top: 0;
}
/* line 88, ../sass/_service.scss */
div.service-container .content-left .content-left-group .service-list {
  border: 1px solid #dddddd;
}
/* line 90, ../sass/_service.scss */
div.service-container .content-left .content-left-group .service-list li {
  padding: 10px;
}
/* line 92, ../sass/_service.scss */
div.service-container .content-left .content-left-group .service-list li p {
  font-size: 0.85em;
}
/* line 97, ../sass/_service.scss */
div.service-container .content-left .content-left-group .service-list .search-box .btn-find {
  float: right;
  margin-top: -29px;
  margin-right: 5px;
}
/* line 104, ../sass/_service.scss */
div.service-container .content-left .content-left-group .thumbnail {
  padding: 0;
  border: none;
}
/* line 107, ../sass/_service.scss */
div.service-container .content-left .content-left-group .thumbnail .caption {
  padding: 4px;
}
/* line 109, ../sass/_service.scss */
div.service-container .content-left .content-left-group .thumbnail .caption p {
  font-size: 0.85em;
  line-height: 1em;
}

/* line 119, ../sass/_service.scss */
.content-right-group .group-title {
  /*margin-left:20px;*/
}
/* line 122, ../sass/_service.scss */
.content-right-group .sub-navigate {
  margin-left: 20px;
}
/* line 125, ../sass/_service.scss */
.content-right-group .sub-navigate li a {
  font-size: 1.25em;
  color: #868686;
  text-decoration: none;
}
/* line 130, ../sass/_service.scss */
.content-right-group .sub-navigate li a:hover, .content-right-group .sub-navigate li a.active {
  color: #c42b32;
}
/* line 134, ../sass/_service.scss */
.content-right-group .sub-navigate li .child-sub-navigate {
  margin-left: 25px;
}
/* line 137, ../sass/_service.scss */
.content-right-group .sub-navigate li .child-sub-navigate li a {
  color: #b3b3b3;
}
/* line 145, ../sass/_service.scss */
.content-right-group .right-banner {
  margin-bottom: 15px;
}
/* line 147, ../sass/_service.scss */
.content-right-group .right-banner .caption {
  padding: 10px 20px;
  background-color: #c42b32;
}
/* line 150, ../sass/_service.scss */
.content-right-group .right-banner .caption a {
  color: #fff;
  font-size: 1.2em;
  font-weight: bold;
}

/* line 3, ../sass/_education.scss */
div.education-container .content-left-group table > thead > tr > th {
}
/* line 4, ../sass/_education.scss */
div.education-container .content-left-group table > thead > tr > th, div.education-container .content-left-group table > tbody > tr > td {
  text-align: center;
}
/* line 5, ../sass/_education.scss */
div.education-container .content-left-group table > tbody > tr > td {
  font-size: 0.9em;
}
/* line 6, ../sass/_education.scss */
div.education-container .content-left-group form {
  padding: 20px;
}
/* line 8, ../sass/_education.scss */
div.education-container .content-left-group form .form-control {
  font-family: 'PSLKandaProBold';
  font-size: 1.1em;
  color: #868686;
}
/* line 14, ../sass/_education.scss */
div.education-container .content-left-group .nav.nav-tabs {
  margin-top: 0;
}
/* line 15, ../sass/_education.scss */
div.education-container .content-left-group .media.bg-fd {
  background-color: #fdfcfc;
}
/* line 19, ../sass/_education.scss */
div.education-container .content-left-group .review-big-group .detail {
  position: absolute;
  bottom: 0;
  width: auto;
  background-color: #fff;
}
/* line 24, ../sass/_education.scss */
div.education-container .content-left-group .review-big-group .detail h2 {
  margin-top: 0;
}
/* line 25, ../sass/_education.scss */
div.education-container .content-left-group .review-big-group .detail p {
  color: #868686;
}
/* line 30, ../sass/_education.scss */
div.education-container .content-right-group.relative {
  position: relative;
}
/* line 33, ../sass/_education.scss */
div.education-container .content-right-group .btn-popup {
  position: absolute;
  top: 0;
}
/* line 37, ../sass/_education.scss */
div.education-container .content-right-group .btn {
  font-size: 1em;
  font-weight: bold;
}

/* line 2, ../sass/_activity.scss */
.activity-container .bg-868686 {
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: 10px;
  background-color: #868686;
  color: #fff;
  float: left;
}
/* line 9, ../sass/_activity.scss */
.activity-container .bg-868686.bg-c42b32 {
  background: #c42b32;
}
/* line 12, ../sass/_activity.scss */
.activity-container .bg-868686 .pull-left {
  margin-right: 15px;
}
/* line 15, ../sass/_activity.scss */
.activity-container .bg-868686 .content {
  padding: 15px;
}
/* line 17, ../sass/_activity.scss */
.activity-container .bg-868686 .content sub {
  font-size: 0.8em;
}
/* line 20, ../sass/_activity.scss */
.activity-container .bg-868686 .content p {
  margin-top: 15px;
}
/* line 25, ../sass/_activity.scss */
.activity-container .group-box.red-box > div > div {
  border: 3px solid #c42b32;
}
/* line 30, ../sass/_activity.scss */
.activity-container .group-content.gallery-content .row > div {
  padding: 7px;
}
/* line 34, ../sass/_activity.scss */
.activity-container .group-content a {
  color: #000;
  text-decoration: none;
}
/* line 39, ../sass/_activity.scss */
.activity-container .caption-main {
  background-color: #fff;
  padding: 15px;
  margin-top: 15px;
  position: relative;
  margin-bottom: 15px;
}
/* line 45, ../sass/_activity.scss */
.activity-container .caption-main h2 {
  margin: 0;
}
/* line 48, ../sass/_activity.scss */
.activity-container .caption-main a {
  color: #000;
  text-decoration: none;
}
/* line 53, ../sass/_activity.scss */
.activity-container .row {
  margin-bottom: 15px;
}

/* line 3, ../sass/_aboutus.scss */
.aboutus-container .content-left-group table > thead > tr > th, .aboutus-container .content-left-group table > tbody > tr > td {
  text-align: center;
}
/* line 5, ../sass/_aboutus.scss */
.aboutus-container .content-left-group table > thead > tr > th.talign-left, .aboutus-container .content-left-group table > tbody > tr > td.talign-left {
  text-align: left;
}
/* line 7, ../sass/_aboutus.scss */
.aboutus-container .content-left-group form {
  padding: 20px;
}
/* line 9, ../sass/_aboutus.scss */
.aboutus-container .content-left-group form .form-control {
  color: #868686;
}
/* line 13, ../sass/_aboutus.scss */
.aboutus-container .content-left-group form .form-control .btn {
  padding: 6px;
}
/* line 18, ../sass/_aboutus.scss */
.aboutus-container .content-left-group .nav.nav-tabs {
  margin-top: 0;
}
/* line 21, ../sass/_aboutus.scss */
.aboutus-container .content-left-group .nav-pills > li > a {
  font-family: 'PSLKandaProBold';
  background-color: transparent;
  color: #868686;
}
/* line 26, ../sass/_aboutus.scss */
.aboutus-container .content-left-group .nav-pills > li.active > a, .aboutus-container .content-left-group .nav-pills > li.active > a:hover, .aboutus-container .content-left-group .nav-pills > li.active > a:focus {
  background-color: transparent;
  color: #c42b32;
}
/* line 30, ../sass/_aboutus.scss */
.aboutus-container .content-left-group .group-box > div > div {
  border: none;
}
/* line 34, ../sass/_aboutus.scss */
.aboutus-container .content-left-group .group-box p {
  padding: 2px 0;
}
/* line 37, ../sass/_aboutus.scss */
.aboutus-container .content-left-group p.remark {
  color: #868686;
}
/* line 39, ../sass/_aboutus.scss */
.aboutus-container .content-left-group p.remark a {
  color: #c52b33;
}

/* line 2, ../sass/_investor.scss */
.investor-container .content-group {
  border-bottom: 1px solid #e4e4e4;
}

@media (min-width: 1200px) {
  /* line 13, ../sass/style.scss */
  .container {
    width: 970px;
  }
}
/* line 18, ../sass/style.scss */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

/* line 26, ../sass/style.scss */
* html .clearfix {
  zoom: 1;
}

/* IE6 */
/* line 27, ../sass/style.scss */
*:first-child + html .clearfix {
  zoom: 1;
}

/* IE7 */
/* line 29, ../sass/style.scss */
h2 {
  margin-top: 15px;
  margin-bottom: 5px;
    font-weight: bold;
  font-size: 1.25em;
  color: #c42b32;
}
/* line 35, ../sass/style.scss */
h2.localnews {
  margin-top: 42px;
}

/* line 39, ../sass/style.scss */
h3 {
    font-size: 1.25em;
}

/* line 50, ../sass/style.scss */
.mb-15 {
  margin-bottom: 15px;
}

/* line 53, ../sass/style.scss */
header {
  border-top: 5px solid #c42b32;
}
/* line 55, ../sass/style.scss */
header .logo {
  display: block;
  margin-top: 20px;
}
/* line 60, ../sass/style.scss */
header .top-link li {
  vertical-align: middle;
}
/* line 63, ../sass/style.scss */
header .top-link .panel-search {
  vertical-align: middle;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #ddd;
}
/* line 69, ../sass/style.scss */
header .top-link .panel-search .txt-search {
  background: none;
  border: none;
  width: 150px;
  height: 24px;
  vertical-align: top;
  margin: 3px;
}
/* line 77, ../sass/style.scss */
header .top-link .panel-search .btn-submit {
  margin: 3px;
  background-color: transparent;
  background-image: url("../images/btn-search.png");
  width: 23px;
  height: 24px;
  border: none;
}
/* line 86, ../sass/style.scss */
header .top-link .panel-lang {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 0.6em;
  padding: 3px;
}
/* line 93, ../sass/style.scss */
header .top-link .panel-lang span {
  float: left;
}
/* line 95, ../sass/style.scss */
header .top-link .panel-lang span a {
  color: #a8a8a8;
  font-weight: bold;
}
/* line 98, ../sass/style.scss */
header .top-link .panel-lang span a.active {
  color: #c42b32;
}
/* line 105, ../sass/style.scss */
header .top-link ul li {
  display: inline-block;
}
@media (min-width: 768px) and (max-width: 991px) {
  /* line 117, ../sass/style.scss */
  header .top-link .panel-search .txt-search {
    width: 80px;
  }
}
@media (max-width: 767px) {
  /* line 134, ../sass/style.scss */
  header .top-link {
    display: none;
  }
}

/* line 140, ../sass/style.scss */
div.main-slide .container-fluid,div.main-slide-2 .container-fluid {
  padding: 0;
}
/* line 144, ../sass/style.scss */
div.main-slide .bx-wrapper,div.main-slide-2 .bx-wrapper {
  margin-bottom: 0;
}
/* line 146, ../sass/style.scss */
div.main-slide .bx-wrapper .bx-pager,div.main-slide-2 .bx-wrapper .bx-pager {
  padding-top: 0;
  bottom: 10px;
}
/* line 149, ../sass/style.scss */
div.main-slide .bx-wrapper .bx-pager.bx-default-pager a {
  background: #fff;
}
/* line 151, ../sass/style.scss */
div.main-slide .bx-wrapper .bx-pager.bx-default-pager a.active {
  background-color: #c42b32;
}
/* Fixed Height for Slider*/
.main-slide .bx-wrapper ,.main-slide .bx-viewport {
    height: 400px !important;
}
.main-slide .bx-wrapper img {
    max-width: 1920px !important;
    position: relative;
    left: 50%;
    margin: 0 0 0 -960px;
}
.main-slide-2 .bx-wrapper ,.main-slide-2 .bx-viewport {
    height: 350px !important;
}
.main-slide-2 .bx-wrapper img {
    max-width: 1920px !important;
    position: relative;
    left: 50%;
    margin: 0 0 0 -960px;
}

/* line 158, ../sass/style.scss */
div.main-content {
  padding-top: 20px;
}
/* line 161, ../sass/style.scss */
div.main-content .content .border-bottom {
  border-bottom: 1px solid #e4e4e4;
}
/* line 164, ../sass/style.scss */
div.main-content .content .nav-tabs {
  margin-top: 25px;
}
/* line 169, ../sass/style.scss */
div.main-content .content .tab-content {
  padding: 35px;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}
/* line 175, ../sass/style.scss */
div.main-content .content .nav-tabs > li > a h2 {
  color: #c2c2c2;
}
/* line 178, ../sass/style.scss */
div.main-content .content .nav-tabs > li > a:hover {
  background-color: #fff;
}
/* line 182, ../sass/style.scss */
div.main-content .content .nav-tabs > li.active > a h2, div.main-content .content .nav-tabs > li.active > a:hover h2, div.main-content .content .nav-tabs > li.active > a:focus h2 {
  color: #c42b32;
}
/* line 189, ../sass/style.scss */
div.main-content .content .nav-tabs > li > a > h2 {
  margin: 0;
  background-image: url("../images/tab-inactive.png");
  background-position: center right;
  background-repeat: no-repeat;
  padding-right: 20px;
}
/* line 200, ../sass/style.scss */
div.main-content .content .nav-tabs > li.active > a > h2 {
  background-image: url("../images/tab-active.png");
}
/* line 206, ../sass/style.scss */
div.main-content .content .content-left .bx-wrapper .bx-viewport {
  box-shadow: none;
  -webkit-box-shadow: none;
}
/* line 212, ../sass/style.scss */
div.main-content .content .content-right .content-right-group {
  margin-bottom: 15px;
}
/* line 214, ../sass/style.scss */
div.main-content .content .content-right .content-right-group p {
  padding: 0 10px;
}
/* line 217, ../sass/style.scss */
div.main-content .content .content-right .content-right-group .bx-wrapper .bx-viewport {
  box-shadow: none;
  -webkit-box-shadow: none;
}
/* line 223, ../sass/style.scss */
div.main-content .content .content-right .new-list li {
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
}
/* line 230, ../sass/style.scss */
div.main-content .content .social {
  margin: 20px 0;
}
@media (max-width: 767px) {
  /* line 158, ../sass/style.scss */
  div.main-content {
    padding: 0;
  }
  /* line 240, ../sass/style.scss */
  div.main-content .content .nav-tabs a {
    padding: 10px 5px;
  }
  /* line 242, ../sass/style.scss */
  div.main-content .content .nav-tabs a h2 {
    margin: 0;
    font-size: 18px;
    padding-right: 12px !important;
  }
  /* line 250, ../sass/style.scss */
  div.main-content .sitemap {
    padding: 20px 0;
  }
  /* line 252, ../sass/style.scss */
  div.main-content .sitemap .row {
    margin: 0;
  }
  /* line 254, ../sass/style.scss */
  div.main-content .sitemap .row .sitemap-group {
    padding: 10px 25px;
    border-top: 1px solid #e4e4e4;
  }
  /* line 257, ../sass/style.scss */
  div.main-content .sitemap .row .sitemap-group ul {
    margin: 0 15px;
  }
  /* line 259, ../sass/style.scss */
  div.main-content .sitemap .row .sitemap-group ul li {
    margin: 2px 15px;
    list-style: initial;
  }
}

/* line 270, ../sass/style.scss */
.sitemap {
  color: #fff;
  padding: 20px;
  background-image: url("../images/bg-footer-2.jpg");
  background-position: center center;
}
/* line 275, ../sass/style.scss */
.sitemap .row {
  margin: 0 30px;
}
/* line 278, ../sass/style.scss */
.sitemap .row .sitemap-group b {
  font-size: 20px;
  margin-bottom: 10px;
  font-family: 'PSLKandaProBold';
}
/* line 282, ../sass/style.scss */
.sitemap .row .sitemap-group ul {
  margin-bottom: 20px;
}
/* line 285, ../sass/style.scss */
.sitemap .row .sitemap-group ul li {
  /*font-size: 18px;*/
}
/* line 292, ../sass/style.scss */
.sitemap a {
  color: #fff;
}

/* line 296, ../sass/style.scss */
footer {
  background-color: #c42b32;
  color: #fff;
  padding: 12px 0;
    font-size:11px;
}
/* line 300, ../sass/style.scss */
footer .row {
  margin: 0 30px;
}
/* line 302, ../sass/style.scss */
footer .row a {
  color: #fff;
}
/* line 304, ../sass/style.scss */
footer .row a:hover {
  color: #fff;
  text-decoration: none;
}

/* line 312, ../sass/style.scss */
.paging-container {
  border-top: 1px solid #e4e4e4;
  text-align: right;
}
/* line 315, ../sass/style.scss */
.paging-container .pagination {
  margin: 0;
}
/* line 317, ../sass/style.scss */
.paging-container .pagination > li > a, .paging-container .pagination > li > span {
  border: 0px;
  padding: 5px;
}

/* line 324, ../sass/style.scss */
button.submit, a.btn.submit {
  padding: 0;
  font-family: 'PSLKandaProBold';
  color: #ffffff;
  font-size: 20px;
  background-color: #c52b33;
}
/* line 330, ../sass/style.scss */
button.submit.reset, a.btn.submit.reset {
  margin-left: 1px !important;
}
/* line 333, ../sass/style.scss */
button.submit:hover, button.submit:focus, a.btn.submit:hover, a.btn.submit:focus {
  color: #ffffff;
}

/* line 338, ../sass/style.scss */
.btn.btn-default {
  color: #868686;
}

/* line 341, ../sass/style.scss */
.c-c42b32 {
  color: #c42b32;
}

/* line 342, ../sass/style.scss */
.bg-c42b32 {
  background: #c42b32;
  color: #fff;
}
/* line 344, ../sass/style.scss */
.bg-c42b32 .h2 {
  color: #fff;
  padding: 0 20px;
}

/* line 346, ../sass/style.scss */
.btl10 {
  -webkit-border-top-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  border-top-left-radius: 10px;
}

/* line 351, ../sass/style.scss */
.btr10 {
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topright: 10px;
  border-top-right-radius: 10px;
}

/* line 356, ../sass/style.scss */
.padding-10 {
  padding-bottom: 10px;
}
