@font-face {
    font-family: 'PSLKandaProRegular';
    src: url('psl152pro.eot');
    src: url('psl152pro.eot') format('embedded-opentype'),
         url('psl152pro.woff') format('woff'),
         url('psl152pro.ttf') format('truetype'),
         url('psl152pro.svg#PSLKandaProRegular') format('svg');
}
