@font-face {
    font-family: 'PSLKandaModernProRegular';
    src: url('psl158pro.eot');
    src: url('psl158pro.eot') format('embedded-opentype'),
         url('psl158pro.woff') format('woff'),
         url('psl158pro.ttf') format('truetype'),
         url('psl158pro.svg#PSLKandaModernProRegular') format('svg');
}
